* {
    font-family: monospace
}

.page-title {
    background-color: yellow;
    color: black;
    text-align: center;
    text-decoration: underline;
}

.recipe-link {
    color: blue;
    background-color: red;
    text-decoration: none;
    font-size: 40px;
}

#lasagna-link {
    color: red;
    background-color: blue;
}

.recipe-image {
    width: auto;
    height: 400px;
}

.recipe-description {
    color: red;
    font-size: 20px;
}

.in